apiVersion: apps/v1
kind: Deployment
metadata:
  name: telegram-bot
  namespace: filer
  labels:
    app: telegram-bot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: telegram-bot
  template:
    metadata:
      labels:
        app: telegram-bot
    spec:
      containers:
        - name: telegram-bot
          image: docker.io/nightv1sion/filer-telegram-bot:dev-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: telegram-bot-secrets
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 256Mi
              cpu: 200m
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
