apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-persistent-volume-claim
  namespace: filer
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
resources:
  requests:
    storage: 1Gi
