apiVersion: apps/v1
kind: Deployment
metadata:
  name: storage
  namespace: filer
  labels:
    app: storage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: storage
  template:
    metadata:
      labels:
        app: storage
    spec:
      containers:
        - name: storage
          image: docker.io/nightv1sion/filer-storage:dev-latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: storage-secrets
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 256Mi
              cpu: 200m
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
